<!DOCTYPE html>
<html lang="en" data-ng-app="canfront">
<head>
  <title></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body id="<%= params[:action] %>" class="<%= params[:controller].gsub("/", "__") %>_<%= params[:action] %>">

<%= render "shared/header" %>

<div class="container">
  <%= yield %>
</div>

<%= yield :page_specific_javascripts %>
</body>
</html>
